<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Name}}</title>
    <link rel="stylesheet" href="/static/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
</head>

<body>
{{template "layout/header.html"}}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">小包的日常</h4>
            <div class="card-text">
                <ul class="list-group">
                    <li class="list-group-item">处于程序员食物链的底端</li>
                    <li class="list-group-item">梦想有一天实现财务自由</li>
                    <li class="list-group-item">人丑就要多读书</li>
                    <li class="list-group-item">旅游，一定要旅游</li>
                    <li class="list-group-item">跑马，户外，养猫，养花</li>
                    <li class="list-group-item">还有一堆to-do-list没做</li>
                    <li class="list-group-item">喜欢折腾一些想法，比如这个网站</li>
                    <li class="list-group-item">Huster & Bytedancer</li>
                </ul>
            </div>
            <div class="card-link text-center">
                <a href="https://github.com/githubao" class="card-link" target="_blank">Github</a>
                <a href="/static/img/wechat.jpg" class="card-link" target="_blank">Wechat</a>
            </div>
        </div>
    </div>
</div>

</body>

<script src="/static/libs/jquery/jquery.min.js"></script>
<script src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/libs/custom/custom.js"></script>
</html>

